h1 {
 text-align: center;   
 font-size: 48px;

}

.form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4em;
    gap: 1em;
  }
  .label {
    font-size: smaller;
  }
  
  .input-container {
    display: flex;
    width: 100%;
    gap: 0.5em;
    align-items: center;
  }
  
  label {
    flex-basis: 35%;
  }
  
  input {
    flex-grow: 1;
  }
p {
text-align: center;  
font-weight: bold;
font-size: 20px;  
}
span {
 color: black;   
 font-size: 15px;
}